/* TransactionHistory.module.css */

.transactionHistory {
  width: 50%;
  border-collapse: collapse;
  outline: 1px solid black;
}

.header {
  background-color: #f5f5f5;
}

.thead {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.transaction {
  background-color: #ffffff;
}

.tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tbody td {
  padding: 10px;
}

.transactionType{
  text-transform: capitalize;
}